{% extends "layout.html" %}
{% block title %}Medidor{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Ar condicionado</div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="/api/endpoint/infrared1/poweron" class="btn btn-primary">Ligar</a></li>
                            <li class="list-group-item"><a href="/api/endpoint/infrared1/poweroff" class="btn btn-danger">Desligar</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Medidor</div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <div class="label label-info">Tens&atilde;o</div>
                                &nbsp;{{ result.get('tensao') }}&nbsp;V
                            </li>

                            <li class="list-group-item">
                                <div class="label label-info">Corrente</div>
                                &nbsp;{{ result.get('corrente') }}&nbsp;A
                            </li>

                            <li class="list-group-item">
                                <div class="label label-info">Angulo</div>
                                &nbsp;{{ result.get('angulo') }}&nbsp;&deg;
                            </li>

                            <li class="list-group-item">
                                <div class="label label-info">Energia</div>
                                &nbsp;{{ result.get('energia') }} KWh
                            </li>

                            <li class="list-group-item">
                                <div class="label label-info">Custo / KWh</div>
                                &nbsp; R${{ result.get('custo') }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}