{% extends "layout.html" %}
{% block title %}SnakeBed API{% endblock %}
{% block content %}

    <div class="page-header"><h1>Exemplos</h1>
        <small>Exemplos de como usar a api.</small>
    </div>
    <div class="container-fluid">
        <div class="row">


            <div class="col-xs-12 col-md-6 col-lg-3">
                <div>
                    <h1>Tomada 1</h1>
                    <a href="/api/endpoint/tomada1/ligar" class="btn btn-success">Ligar</a>
                    <a href="/api/endpoint/tomada1/desligar" class="btn btn-danger">Desligar</a>
                </div>
            </div>


            <div class="col-xs-12 col-md-6 col-lg-3">
                <h1>Tomada 2</h1>

                <div>
                    <a href="/api/endpoint/tomada2/ligar" class="btn btn-success">Ligar</a>
                    <a href="/api/endpoint/tomada2/desligar" class="btn btn-danger">desligar</a>
                </div>
            </div>


            <div class="col-xs-12 col-md-6 col-lg-3">
                <h1>Tomada 3</h1>
                <a href="/api/endpoint/tomada3/ligar" class="btn btn-success">Ligar</a>
                <a href="/api/endpoint/tomada3/desligar" class="btn btn-danger">desligar</a>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
                <h1>Infrared 1
                    <small><div class="label label-info">In progress</div></small>
                </h1>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/api/endpoint/infrared1/power"
                           class="btn btn-success">Ligar</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/api/endpoint/infrared1/canalup" class="btn btn-info">Canal
                            UP</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/api/endpoint/infrared1/canaldown" class="btn btn-info">Canal Down</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/api/endpoint/infrared1/volumeup" class="btn btn-primary">Volume
                            Down</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/api/endpoint/infrared1/volumedown" class="btn btn-primary">Volume
                            Down</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}