{% extends "layout.html" %}
{% block title %}SnakeBed API{% endblock %}
{% block content %}

    <div class="page-header"><h1>Exemplos</h1>
        <small>Exemplos de como usar a api.</small>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a href="/api/endpoint/tomada1/ligar" class="btn btn-success">ligar tomada 1</a>
                <a href="/api/endpoint/tomada1/desligar" class="btn btn-danger">desligar tomada 1</a>
            </div>
        </div>
    </div>
{% endblock %}